name: CI

on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - run: make setup_ubuntu
    - run: make lint
    - run: make -j$(nproc)
    - uses: actions/upload-artifact@v5
      with:
        name: sysid-ols.pdf
        path: sysid-ols.pdf
